/* *{
  user-select: none;
  margin-left: 14px;
  margin-right: 14px;
} */

.navbar{
   /* padding-left: 20px; */
   box-shadow: -2px 1px 5px 2px rgb(162, 160, 160);
   border-radius: 5px;
   /* margin:5px auto; */
   font-family: Verdana, Geneva, Tahoma, sans-serif
   
}

  .navbar-nav .nav-link {
    font-size: 17.2px;
    /* font-weight: ; */
    color: rgb(11, 11, 11);
  }
  
  .navbar-nav .nav-link.active {
    /* border-bottom: 3px solid rgb(83, 242, 96); */
    border-bottom: 3px solid rgb(66, 150, 240);
  }