<!-- <div>
  
     <div class="aboutbg ">
      <img src="https://i.imgur.com/WbQnbas.png">

    </div> 


    <div>
      <div class="text">
        <h1 class="text-center homeheading">About us</h1>
      
        <p class="text-gray-700">
          Welcome to Secure Haven, your trusted partner in making your dream of homeownership a reality.
          At Secure Haven, we understand that purchasing a home is one of life's most significant milestones,
          and we are dedicated to providing you with the support and guidance you need throughout the home loan process.

        </p>

        <h5 class="my-4 font-bold text-3xl  sm:text-4xl text-center  ">Our <span class="text-indigo-600">Mission</span>
        </h5>
        <p class="text-gray-700 ">
          Our mission at [Secure Haven] is to empower individuals and families to achieve their homeownership goals by
          offering tailored home loan solutions,
          personalized guidance, and exceptional customer service. We strive to make the home loan process as seamless
          and
          stress-free as possible,
          ensuring that our clients feel confident and informed every step of the way.

        </p>

        <h5 class="my-4 font-bold text-3xl  sm:text-4xl text-center   ">Our <span class="text-indigo-600">Values</span>
        </h5>
        <p class="text-gray-700">
          Integrity: We uphold the highest standards of integrity in all aspects of our business, ensuring transparency,
          honesty, and fairness in every interaction.
          Excellence: We are committed to excellence in everything we do, continuously striving to exceed expectations
          and
          deliver exceptional results for our clients.
          Empathy: We understand that buying a home is a deeply personal and significant decision.
          That's why we approach each client with empathy, compassion, and understanding,tailoring our services to meet
          their unique needs and circumstances.
          Innovation: We embrace innovation and technology to streamline the home loan process, enhance efficiency,
          and provide our clients with cutting-edge solutions that simplify their experience

        </p>
        <h5 class="my-4 font-bold text-3xl  sm:text-4xl text-center"> Why <span class="text-indigo-600">Choose Us?</span>
        </h5>
        <p class="text-gray-700">
          Expertise: With years of experience in the mortgage industry, our team of knowledgeable professionals
          possesses
          the expertise and insight to guide you through every stage of the home loan journey.
          Personalized Service: We believe in building strong relationships with our clients and providing personalized
          attention to address their specific needs and preferences.
          Competitive Rates: We offer competitive interest rates and flexible loan options, ensuring that you find the
          financing solution that best fits your budget and financial goals.
          Dedicated Support: From pre-approval to closing, our dedicated support team is here to assist you every step
          of
          the way,
          answering your questions, addressing your concerns, and keeping you informed throughout the process.

        </p>
      </div>
    </div>

  
</div>
<div>

  <app-testimonial></app-testimonial> -->


<!-- </div> -->

<div class="about">

    <div class="aboutcontent">

        <div class="aboutinfo">

            <h4 class="text">About us</h4> 
            <p class="text-gray-700 aboutpara">
                Welcome to Secure Haven, your trusted partner in making your dream of homeownership a reality.
                At Secure Haven, we understand that purchasing a home is one of life's most significant milestones,
                and we are dedicated to providing you with the support and guidance you need throughout the home loan process.
      
              </p>
        </div>

        <div class="mission">
            <h4 class="text">Our Mission</h4> 

            <p class="aboutpara">
                Our mission at [Secure Haven] is to empower individuals and families to achieve their homeownership goals by
                offering tailored home loan solutions,
                personalized guidance, and exceptional customer service. We strive to make the home loan process as seamless
                and
                stress-free as possible,
                ensuring that our clients feel confident.      
              </p>
      

        </div>

        <div class="values">
            <h4 class="text"> Why to Choose Us?</h4> 

            <p class="aboutpara">
                Expertise: With years of experience in the mortgage industry, our team of knowledgeable professionals
                possesses
                the expertise and insight to guide you through every stage of the home loan journey. <br>
                Personalized Service: We believe in building strong relationships with our clients and providing personalized
                attention to address their specific needs and preferences.
                <!-- Competitive Rates: We offer competitive interest rates and flexible loan options. -->
                <!-- Dedicated Support: From pre-approval to closing, our dedicated support team is here to assist you every step
                of
                the way,
                answering your questions, addressing your concerns, and keeping you informed throughout the process. -->
              </p>

            
        </div>

    </div>

     <div class="aboutimg">
        <!-- <img src="https://i.imgur.com/WbQnbas.png"> -->

    </div>


<!--     
    <div class="aboutimg">
        <img src="https://i.imgur.com/WbQnbas.png">

    </div>  -->

</div>