<h4 class="testimonialheading">Testimonials</h4> <br>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Robert Garrison
                    </div>
                    <div class="designation">Android Developer</div>
                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                        "Quick and easy process, got approved within days! Highly recommend for anyone seeking a
                        hassle-free home loan application experience." - Sarah
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Jeffery Kennan
                    </div>
                    <div class="designation">Full Stack Developer</div>
                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                        "Professional service, simplified paperwork. Applied online and received competitive rates.
                        Satisfied with the efficiency and support throughout." - John
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="https://images.unsplash.com/photo-1614574762522-6ac2fbba2208?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjY2fHxtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Issac Maxwell
                    </div>
                    <div class="designation">Finance Director</div>
                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                        "Initially skeptical about online applications, but their user-friendly platform and responsive
                        support team made it a stress-free journey. Highly recommend their home loan services." - Lisa
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <!-- new row -->
        <div class="col-lg-4">
            <div class="card ">
                <div class="face front-face">
                    <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Robert Garrison
                    </div>
                    <div class="designation">Android Developer</div>
                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                        "As a first-time homebuyer, the loan application seemed daunting. But with their guidance, it
                        became seamless. Grateful for their patience and clarity throughout." - Michael
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Jeffery Kennan
                    </div>
                    <div class="designation">Full Stack Developer</div>
                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                        "Effortless application process with personalized assistance at every step. Competitive rates
                        and prompt approval. Delighted with the overall experience!" - Emily
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="https://images.unsplash.com/photo-1614574762522-6ac2fbba2208?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjY2fHxtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Issac Maxwell
                    </div>
                    <div class="designation">Finance Director</div>
                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                        "Switching lenders seemed daunting, but their team made it a breeze. From application to
                        approval, their efficiency and professionalism were commendable." - David
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
</div>