<form [formGroup]="customer_family_details" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Father Name</mat-label>
      <input matInput formControlName="fatherName" (keyup)="onChange()" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mother Name</mat-label>
      <input matInput formControlName="motherName" (keyup)="onChange()" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>No Of Child</mat-label>
      <input matInput formControlName="noOfChild" (keyup)="onChange()" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>No Of Family Member</mat-label>
      <input matInput formControlName="noOfFamilyMember" (keyup)="onChange()" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Family Income</mat-label>
      <input matInput formControlName="familyIncome" (keyup)="onChange()" required>
    </mat-form-field>
    <br>
      <button mat-raised-button class="btn" color="primary" matStepperPrevious>Back</button>&nbsp;
      <button mat-raised-button color="primary" [disabled]="active" matStepperNext>Next</button>
  
  </form>
