<!-- <nav>
  <ul>
    <li><a href="#" [class.active]="activeItem === 'home'" (click)="setActiveItem('home')">Home</a></li>
    <li><a href="#" [class.active]="activeItem === 'about'" (click)="setActiveItem('about')">About</a></li>
    <li><a href="#" [class.active]="activeItem === 'services'" (click)="setActiveItem('services')">Services</a></li>
    <li><a href="#" [class.active]="activeItem === 'contact'" (click)="setActiveItem('contact')">Contact</a></li>
  </ul>
</nav> -->
<router-outlet></router-outlet>