
<table class="table table-bordered">
    <tr>
        <th>Application No.</th>
        <td>{{customerData.id}}</td>
    </tr>

    <tr>
        <th>First Name</th>
        <td>{{customerData.customerinfo.firstName}}</td>

        <th>Middle Name</th>
        <td>{{customerData.customerinfo.middleName}}</td>

        <th>Last Name</th>
        <td>{{customerData.customerinfo.lastName}}</td>
    </tr>

    <tr>
        <th>Age</th>
        <td>{{customerData.customerinfo.age}}</td>
    </tr>

    <tr>
        <th>Gender</th>
        <td>{{customerData.customerinfo.gender}}</td>
    </tr>

    <tr>

        <th>Date Of Birth</th>
        <td>{{customerData.customerinfo.dob}}</td>
    </tr>

    <tr>
        <th>Mobile No.</th>
        <td>{{customerData.customerinfo.mobileNo}}</td>

        <th>E-mail Id</th>
        <td>{{customerData.customerinfo.email}}</td>
    </tr>

    <tr>
        <th>Aadhar No.</th>
        <td>{{customerData.customerinfo.aadhar}}</td>

        <th>Pancard No.</th>
        <td>{{customerData.customerinfo.pancard}}</td>
    </tr>

    <tr>
        <th style="color: blue;">Total Loan Required</th>
        <td style="color: blue;">{{customerData.customerinfo.totalloanrequired}}</td>
    </tr>


    <tr *ngIf="cibilData" style="color: rgb(3, 167, 134); font-weight: bold;">
        <td>
            Cibil Score: {{cibilData.cibilScore}}
        </td>

        <td>
            Cibil Status: {{cibilData.status}}
        </td>
    </tr>

    <tr>
        <td>
            <img [src]="'data:image/jpeg;base64,'+customerData.customerdocx.aadhar" height="100" width="200">
        </td>
    </tr>
</table>

<div class="alert alert-success" role="alert" *ngIf="verifyDocxMessage">
    {{verifyDocxMessage}} 
    <button class="btn btn-primary ms-4" (click)="forwardtoCM()">Forward to Credit Manager <i [hidden]="hide" class="fa fa-check" aria-hidden="true"></i></button>
  </div>

<button class="btn btn-success" (click)="checkCibil()">Check Cibil Score</button>
<button class="btn btn-success ms-5" (click)="verifyDocuments()">Verify Documents</button>
